html, body, .body{
  height: 100%;
}
body {
  font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color:#000;
  text-align: center;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #88ed2f;
}


p {
  font-size: 2em;
}

.title {
  width: 100%;
  height: 30%;
}

.title h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.startbtn {
  width: 100%;
  height: 30%;
}

.startbtn button {
  margin-top: 10%;
  padding:20px 40px 20px;
}
.btn {
  background:#32a832;
  border-radius:6px;
  color:#FFF;
  border:0;
  cursor:pointer;
  display:inline-block;
  margin:5px;
  padding: 16px 24px 12px;
  text-decoration:none;
  font-size: 2em;
}
.btn:hover{background:#298227}
.btn:active,btn:focus{background:#1c5c1b}


.imgprocessing {
  height: 50%;
  position: relative;
}

.imgformcontainer {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
}


input[type="file"] {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading1 {
    width: 4%;
    height: 4%;
    animation: Loading1 infinite 1.5s linear;
  }
  .loading2 {
    width: 4%;
    height: 4%;
    animation: Loading2 infinite 1.5s linear;
  }
  .loading3 {
    width: 4%;
    height: 4%;
    animation: Loading3 infinite 1.5s linear;
  }
}

@keyframes Loading1 {
  from {
    transform: translateY(0%);
  } 12.5% {
    transform: translateY(-50%);
  } 25% {
    transform: translateY(0%);
  } 37.5% {
    transform: translateY(0%);
  } 50% {
    transform: translateY(0%);
  } 62.5% {
    transform: translateY(0%);
  } 75% {
    transform: translateY(0%);
  } 87.5% {
    transform: translateY(0%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes Loading2 {
  from {
    transform: translateY(0%);
  } 12.5% {
    transform: translateY(0%);
  } 25% {
    transform: translateY(0%);
  } 37.5% {
    transform: translateY(-50%);
  } 50% {
    transform: translateY(0%);
  } 62.5% {
    transform: translateY(0%);
  } 75% {
    transform: translateY(0%);
  } 87.5% {
    transform: translateY(-50%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes Loading3 {
  from {
    transform: translateY(0%);
  } 12.5% {
    transform: translateY(0%);
  } 25% {
    transform: translateY(0%);
  } 37.5% {
    transform: translateY(0%);
  } 50% {
    transform: translateY(0%);
  } 62.5% {
    transform: translateY(-50%);
  } 75% {
    transform: translateY(0%);
  } 87.5% {
    transform: translateY(0%);
  } to {
    transform: translateY(0%);
  }
}